// .dxform {
//   display: flex;
// }

// .dx-box-item {
//   margin-top: 10px;
// }

span {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 800;
  // margin-top: 10px;
}

// .dx-form-group-content {
//   display: flex;
// }

.panel-items {
  display: flex;
}

.btn-users {
  width: 404px !important;
  color: #000000 !important;
  background: #fff !important;
  text-align: center;
  padding: 10px;
}

.btn-save {
  background: #ffff !important;
  color: #000000 !important;
  margin-left: 20px !important;
}
.btn-cancel {
  background: #ffff !important;
  color: #000000 !important;
  margin-left: 20px !important;
}



// .form-item{
//   width: 450px !important;
// }
